{% extends 'frontapp/layout.html' %}

{% load static %}

{% block title %} Blogs {% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->
                    {% for b in blog %}
                    <div class="blog-list clearfix">
                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="{% url 'blog' b.id %}" title="">
                                        <img src="{{ b.image }}" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="{% url 'blog' b.id %}" title="">{{ b.heading }}</a></h4>
                                <p>{{ b.paragraph_1 | truncatewords:25 }}</p>
                                <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                                <small><a href="{% url 'blog' b.id %}" title="">21 July, 2017</a></small>
                                <small><a href="tech-author.html" title="">by Matilda</a></small>
                                <small><a href="{% url 'blog' b.id %}" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                        {% endfor %}
                        <hr class="invis">
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}