{% extends 'frontapp/layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}

<div class="page-content-product">
    <div class="main-product" style="background-image: url({% static 'frontapp/images/bg_main.png' %});">
       <div class="container">
          <div class="row clearfix">
             <div class="find-box">
                <h1>Find your next product or<br>business partner here.</h1>
                <h4>It has never been easier.</h4>
                <div class="product-sh">
                   <div class="col-sm-6">
                      <div class="form-sh">
                         <input onkeyup="searchFunction()" id="input_search" type="text" placeholder="Search something you love" >
                      </div>
                   </div>
                   <div class="col-sm-3">
                      <div class="form-sh">
                         <select id="input_option" class="selectpicker">
                            {% for c in cat %}
                        <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                         </select>
                      </div>
                   </div>
                   <div class="col-sm-3">
                      <div class="form-sh"> <a class="btn" href="#">Search</a> </div>
                   </div>
                   <p>Or simply<a href="#"> click here </a> and get inspired!</p>
                </div>
             </div>
          </div>
         
            <div class="card-grid">
               {% for p in products %}
                  {% include 'frontapp/item.html' %}
               {% endfor %}
            </div>
         
     
            <div class="categories_link">
                <a href="{% url 'products'  %}">Browse all products here</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="cat-main-box">
    <div class="container">
       <div class="row panel-row">
          <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.0s">
             <div class="panel panel-default">
                <div class="panel-body">
                   <img src="{% static 'frontapp/images/xpann-icon.jpg' %}" class="icon-small" alt="">
                   <h4>“HashWolf” Your Business</h4>
                   <p>Grow easily with HashWolf. Create free account.
                      We help expanding your business easily.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
             <div class="panel panel-default">
                <div class="panel-body">
                   <img src="{% static 'frontapp/images/create-icon.jpg' %}" class="icon-small" alt="">
                   <h4>Create and add</h4>
                   <p>Grow easily with HashWolf. Create free account.
                      We help expanding your business easily.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6 wow fadeIn hidden-sm" data-wow-delay="0.4s">
             <div class="panel panel-default">
                <div class="panel-body">
                   <img src="{% static 'frontapp/images/get-icon.jpg' %}" class="icon-small" alt="">
                   <h4>Get inspired</h4>
                   <p>Grow easily with HashWolf. Create free account.
                      We help expanding your business easily.
                   </p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="products_exciting_box">
    <div class="container">
       <div class="row">
          <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
             <div class="exciting_box f_pd">
                <img src="{% static 'frontapp/images/exciting_img-01.jpg' %}" class="icon-small" alt="" />
                <h4>Explore <strong>exciting</strong> and exotic products
                   tailored to you.
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                   quis nostrud exercitation ullamco laboris..
                </p>
             </div>
          </div>
          <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
             <div class="exciting_box l_pd">
                <img src="{% static 'frontapp/images/exciting_img-02.jpg' %}" class="icon-small" alt="" />
                <h4><strong>List your products on</strong> HashWolf and grow connections.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                   quis nostrud exercitation ullamco laboris..
                </p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="start-free-box">
    <div class="container">
       <div class="row">
          <div class="container">
             <div class="main-start-box">
                <div class="free-box-a clearfix">
                   <div class="col-md-6 col-sm-6">
                      <div class="left-a-f">
                         <h3>A platform built for scale & expansion. Start for free.</h3>
                      </div>
                   </div>
                   <div class="col-md-6 col-sm-6">
                      <div class="right-a-f">
                         <p>Over the comming years, way thet business through the web
                            works will change at agreat - and HashWolf is the
                            gamebreaker.
                         </p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
        <div class="main-start-box">
           <div class="bg_img_left"><img src="{% static 'frontapp/images/bg_img1.png' %}" alt="#" /></div>
           <div class="container">
              <div class="buyer-box clearfix">
                 <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                    <div class="left-buyer">
                       <img class="img-responsive" src="{% static 'frontapp/images/creat_pro.png' %}" alt="#" />
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                    <div class="right-buyer">
                       <h4>buyer</h4>
                       <h2>Empower your factory<br>
                          <span>With a new lead Channel</span>
                       </h2>
                       <p>Never worry about sales or income ftom outbound
                          channels. with HashWolf your store is directly
                          connected to thousands of interested in your
                          products.
                       </p>
                       
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="bg_img_right"><img src="{% static 'frontapp/images/bg_img1.png' %}" alt="#" /></div>
        <div class="main-start-box">
           <div class="container">
              <div class="supplier clearfix">
                 <div class="col-md-5 col-sm-6">
                    <div class="left-supplier">
                       <h4>supplier</h4>
                       <h2>Grow your store <br><span>With a new sales channel</span></h2>
                       <p>Never worry about sales or income ftom outbound
                          channels. with HashWolf your store is directly
                          connected to thousands of interested in your
                          products.
                       </p>
                       .
                       
                    </div>
                 </div>
                 <div class="col-md-7 col-sm-6">
                    <div class="right-supplier">
                       <img class="img-responsive" src="{% static 'frontapp/images/supplier-pc-img.png' %}" alt="#" />
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="products">
    <div class="main-products">
       <h2>TRENDING PRODUCTS ON HashWolf</h2>
       <div class="product-slidr">
          <div class="slider">
             {% for p in product %}
            <div>
               <div class="prod-box">
                    <div class="prod-i">
                     <a href="{{ p.url }}">
                     {% if p.image %}
                     <img src="{{ p.image }}" alt="">
                     {% else %}
                     <img src="{% static 'frontapp/images/150x150.png' %}" alt="" />
                     {% endif %}
                  </a>
                    </div>
                    <a href="{{ p.url }}">
                    <div class="prod-dit clearfix">
                       <div class="dit-t clearfix">
                          <div class="left-ti">
                             <h4>{{ p.name | truncatewords:5}}</h4>
                             <p>By <span>{{p.brand}}</span></p>
                          </div>
         
                          <a href="#">${{ p.price }}</a>
                       </div>
                     </a>
   
                    </div>
                 </div>
              </div>
              
             {% endfor %}
            
                
        
         </div>
     </div>
     </div>
</div>
     
     
{% endblock %}